<label for="filtro" class="filtro">Filtrar por direccion: </label>
<br>
    <select [(ngModel)]="filtro" name="filtro" class="select form-select" aria-label="Default select example">
  <option></option>
  <option *ngFor="let lugar of obtenerLugares()" [value]="lugar">{{lugar}}</option>
</select>

<h1 class="eventos h1">PRÓXIMOS EVENTOS</h1>

<div class="card-container">
  <div class="card text-white" *ngFor="let evento of obtenerEventosActuales()">
    <div class="card-card">
      <h1 class="h5">{{ evento.titulo }}</h1>
      <h2 class="h5">{{ evento.artista }}</h2>
      <h3 class="h5">{{ evento.fecha | date }} - {{ evento.fecha | date: 'HH:MM' }}h</h3>
      <h3 class="h5">{{ evento.direccion }}</h3>
      <h2 class="h5">{{ (evento.precio != 0) ? (evento.precio | currency) : "Gratis !!" }}</h2>
    </div>
      <img class="imagen" *ngIf="evento.imagen" [src]="evento.imagen" alt="{{ evento.titulo }} Image">

  </div>

  <h3 *ngIf="obtenerEventosActuales().length == 0">Sin eventos por mostrar</h3>
</div>

<h1 class="eventos h1">EVENTOS PASADOS</h1>

<div class="card-container">
  <div class="card text-white" *ngFor="let evento of obtenerEventosPasados()">
    <div class="card-card">
      <h1 class="h5">{{ evento.titulo }}</h1>
      <h2 class="h5">{{ evento.artista }}</h2>
      <h3 class="h5">{{ evento.fecha | date }} - {{ evento.fecha | date: 'HH:MM' }}h</h3>
      <h3 class="h5">{{ evento.direccion }}</h3>
      <h2 class="h5">{{ (evento.precio != 0) ? (evento.precio | currency) : "Gratis !!" }}</h2>
    </div>
      <img class="imagen" *ngIf="evento.imagen" [src]="evento.imagen" alt="{{ evento.titulo }} Image">
    </div>

  <h3 *ngIf="obtenerEventosPasados().length == 0">Sin eventos por mostrar</h3>
</div>
<video class="capa" autoplay loop [muted]="1">
  <source src="assets/sucio.mp4" type="video/mp4">
</video>
