ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
  list-style:none;
}

footer li a{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}